@page "/tags"
@using GetTheTagBlazor.Client.Helpers

@inject IHttpService _httpService
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager

<h3>GetTheTag From The Picture</h3>
<form>
    <input @bind-value="@inputUrl" placeholder="Skriv din url her..." title="input Url" />
    <button type="button" class="btn btn-primary" @onclick="SendPictureToDB">Send</button>
    <button type="reset" class="btn btn-danger" @onclick="ResetInputField">Nulstil</button>
</form>


@if(goForComponent)
    {
        <ShowTheTags inputUrl="@inputUrl" />
    }
@if (notValidated)
{
    <h6 style="color: red;"><em>Please add a valid imageurl</em></h6>
}


@code {
    //private TagDTO tagDTO = new TagDTO();
    private string inputUrl = "";
    private bool goForComponent = false;
    private bool notValidated = false;

    private void SendPictureToDB()
    {
        if (ValidateImageUrl.Validate(inputUrl))
        {
            goForComponent = true;
        }
        else
        {
            notValidated = true;
        }
    }

    private void ResetInputField()
    {
        inputUrl = "";
        goForComponent = false;
        notValidated = false;
    }
}
